body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.space-holder {
    position: relative;
    height: 40px;
    width: 100%;
    margin-bottom: 50px;
    border-style: none;
    background-color: black;
}

/* Styling for the header-tab */
.header-tab {
    color: white;
    background-image: url(./assets/images/Bioelectronics.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px 0;
}

li {
      list-style: none;
    }

.header-tab h2 {
    color: white;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px 0;
}

.my_image {
    flex: 1 1 200px;
    margin: 10px;
}

.my_image img {
    width: 100%;
    height: auto;
    max-width: 200px; 
    border-radius: 50%; 
}

.about_me {
    flex: 2 1 300px;
    margin: 10px;
    background-color: #f3f3f3; 
    padding: 20px;
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 20px 0;
    background-color: #f3f3f3; 
    padding: 20px;
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education h2{
    width: 100%; /* Ensure h2 takes full width */
    text-align: center; /* Center align the h2 text */
    margin-bottom: 20px; /* Add some space below the h2 */
        
}

.education .edu-item {
    flex: 1 1 300px;
    margin: 10px;
    text-align: center;
}

.edu-item img {
    width: 100%;
    height: auto;
    max-width: 200px; 
    margin-bottom: 10px;
}

.projects, .achievements_and_internships, .Online_certifications, .Coursework_and_skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    background-color: #f3f3f3; 
    padding: 20px;
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects .project, .achievements_and_internships .achievement, .Online_certifications .certification, .Coursework_and_skills .skills {
    width: 100%;
    margin: 10px 0;
}

h2 {
    color: goldenrod;
}

h4 {
    color: blue;
}

footer {
    width: 100%;
    margin-top: 20px;
    background-color: #f3f3f3; 
    padding: 10px;
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
